// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.banner {
	margin: 16px 32px 16px;
	border: 1px solid black;
	background-color: rgb(197, 197, 197);
	border-radius: 8px;
	width: 30%;
	p {
		padding: 32px 16px;
	}
}
